.galeri-section {
  padding: 50px 0;
 
}

.slider-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Layout grid fleksibel */
  gap: 600px; /* Jarak antar item */
}

.slider-item {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease; /* Animasi saat transisi item */
}

.galeri-img {
  width: 100%;
  height: 250px; /* Menyesuaikan tinggi */
  object-fit: cover; /* Memastikan gambar tetap rapi */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow awal */
  transition: transform 0.4s ease, box-shadow 0.4s ease; /* Efek halus pada transformasi */
}

/* Menambahkan efek hover untuk gambar */
.galeri-img:hover {
  transform: scale(1.05); /* Efek zoom */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Shadow lebih dalam saat hover */
  cursor: pointer;
}

/* Efek saat gambar dihover, membuat animasi menarik */
.slider-item:hover {
  transform: scale(1.02); /* Animasi smooth saat item di-hover */
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}


