/* css carousel */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* FAQ Section Styles */
.faq-container {
  position: relative;
  background: transparent;
  display: flex; /* Gunakan flexbox untuk pemusatan */
  flex-direction: column; /* Konten dalam kolom */
  align-items: center; /* Pusatkan konten secara horizontal */
  margin-left: auto; /* Atur margin kiri otomatis */
  margin-right: auto;
  margin-top: 100px;
  max-width: 800px;
}

.faq-items {
  border-top: 1px solid #0f044c;
}

.faq-item {
  padding: 10px;
  border-bottom: 1px solid #0f044c;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #0f044c;
  color: aliceblue;
  padding: 5px;
}

.faq-question h4 {
  margin: 0;
  font-size: 18px;
}

.faq-answer {
  margin-top: 10px;
  font-size: 16px;
  color: #000000;
}

span {
  font-size: 16px;
  color: #ffffff;
}

/* section asesor Styles */
.team-section {
  text-align: center;
  padding: 40px 100px;
  justify-items: center;
  justify-content: center;
}

.team-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.team-subtitle {
  font-size: 1em;
  color: #666;
  margin-bottom: 30px;
}

.team-member {
  background-color: #ded8fd;
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;

  gap: 20px;
  padding: 20px;
}

.team-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  justify-items: center;
  justify-content: center;
}

.team-name {
  font-size: 0.9em;
  margin: 5px 0;
}

.team-role {
  font-size: 0.8em;
  color: #eb8317;
}

.contact-button {
  background-color: #0f044c;
  margin-bottom: 10px;
  color: #fff;
  justify-content: center;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 20px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #0a0236;
}
